
<ion-header>

  <ion-navbar>
    <ion-buttons left>
    </ion-buttons>
    <ion-title>Вход в аккаунт</ion-title>
  </ion-navbar>

</ion-header>


<!--<ng-template #template>-->
  <!---->
    <!--<div class="modal-header">-->
      <!--<h4 class="modal-title pull-left">Востановление пароля</h4>-->
      <!--&lt;!&ndash;<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">&ndash;&gt;-->
        <!--<ion-icon (click)="modalRef.hide()"  name="ios-close-circle"></ion-icon>-->
      <!--&lt;!&ndash;</button>&ndash;&gt;-->
    <!--</div>-->
    <!--<div class="modal-body">-->
      <!--<form #ForgForm="ngForm"  class="forg-form form " (ngSubmit)="forgotSent()">-->
          <!--<ion-input name="email-forgot"  type="email" placeholder="Введите ваш E-mail*" [(ngModel)]="ForgData.email" required></ion-input>-->
          <!--<button class="recover-btn" ion-button round class="no-outline">Восстановить</button>-->
      <!--</form>-->
    <!--</div>-->
  <!---->
<!--</ng-template>-->

<ion-content class="page-login" padding>
    <ion-row class="grid-t logo-part">
      <ion-col>
        <img class="image" src="assets/beauty-lab_logo.png"/>
      </ion-col>
    </ion-row>
  <form class="form" novalidate [formGroup]="form" (ngSubmit)="login()">
    <ion-row class="grid-b ">
      <ion-col col-12>
        <ion-list >

          <ion-item class="blah1">
            <ion-label color="secondary" floating>E-mail</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
            <p class="input-error-hint" *ngIf="emailControl.errors && emailControl.touched" class="danger" padding>Email is not valid.</p>
          </ion-item>

          <ion-item class="blah2">
            <ion-label color="secondary" floating>Пароль</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>


          <div class="flex-block">
            <span class="without-btn"  ion-button block clear color="dark" text-capitalize  (click)="dismiss()">Продолжить без авторизации</span>
            <span class="forgot-btn"  ion-button block clear color="dark" text-capitalize  (click)="openForgetPasswordPage()">Я забыл пароль</span>
          </div>

        </ion-list>
      </ion-col>
      <ion-col col-12>
        <label *ngIf="errorMessage!=''">
          <span>{{errorMessage}}</span>
        </label>
      </ion-col>

            
      <ion-col col-12>
        <button ion-button block class="login-btn" color="secondary" type="submit" [disabled]="!form.valid">Вход</button>
      </ion-col>
    </ion-row>
  </form>

  <ion-row class="grid-b">
    <ion-col col-12>
      <button ion-button block color="facebook" (click)="facebookLogin()">Войти с помощью <img class="icon-soc" src="./assets/facebook.svg"/></button>
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col col-12>
        <button class="vk-login" ion-button block outline (click)="Vklog()">Войти с помощью <img class="icon-soc" src="./assets/icon.svg"/></button>
      </ion-col>
    </ion-row>
  <ion-row>
    <ion-col col-12>
      <button ion-button block class="registry-btn" color="secondary" (click)="openSignUpPage()">Регистрация</button>
    </ion-col>
  </ion-row>
</ion-content>
