<ion-header>

  <ion-navbar [style.boxShadow]="SearchList ? 'none' : ''">
    <ion-buttons class="close-btn" left>
      <button ion-button icon-only (click)="dismiss()">
            <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Восстановление пароля</ion-title>

    <ion-buttons end>
        <button ion-button icon-only (click)="showHideSearchList()">
            <ion-icon name="search"></ion-icon>
        </button>
        <button ion-button icon-only class="cart-button" (click)="openCart()">
          <ion-icon name="cart">
            <ion-badge color="secondary">{{(productsLength$ | async) ? (productsLength$ | async) : 0}}</ion-badge>
          </ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

  <form  class="search-form" (ngSubmit)="getSearch()" *ngIf="SearchList" [@animate]>
      <ion-item>
          <ion-icon name="search"></ion-icon>
          <ion-input [(ngModel)]="search.search_string" name="search" placeholder="Поиск..." type="text"></ion-input>
      </ion-item>
      <ion-icon class="close-icon" name="close" (click)="showHideSearchList()"></ion-icon>
  </form>
</ion-header>


<ion-content class="page-forgot-password" padding>

  <form #loginForm="ngForm" class="form" (ngSubmit)="forgetPassword()">
      <div class="email-field" *ngIf="forgot_complete != true">
          <ion-item>
              <ion-input type="email" email placeholder="Ваш Е-mail" name="customers_email_address" [(ngModel)]="formData.email"
                required></ion-input>
          </ion-item>
        </div>

      <p *ngIf="forgot_complete != true" class="forgot-text">На ваш электронный адрес будет отправлено сообщение с ссылкой для восстановления пароля</p>
      <p *ngIf="forgot_complete == true" class="forgot-text success-text">{{forgot_message}}</p>
      <div>
          <label *ngIf="errorMessage!=''">
            <span>{{errorMessage}}</span>
          </label>
      </div>

      <div class="sent-container">
        <button *ngIf="forgot_complete != true" class="sent-btn" ion-button block color="secondary" type="submit" [disabled]="!loginForm.form.valid">Отправить</button>
        <button *ngIf="forgot_complete == true" class="sent-btn close-btn" (click)="dismiss()" ion-button block color="secondary">Закрыть</button>
      </div>
  </form>
</ion-content>
