<ion-header>

    <ion-navbar [style.boxShadow]="SearchList ? 'none' : ''">
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
  
      <ion-title text-center>
        {{product_name}}
      </ion-title>
  
      <ion-buttons end>
        <button ion-button icon-only (click)="showHideSearchList()">
            <ion-icon name="search"></ion-icon>
          </button>
        <button ion-button icon-only class="cart-button" (click)="openCart()">
          <ion-icon name="cart">
            <ion-badge color="secondary">{{(productsLength$ | async) ? (productsLength$ | async) : 0}}</ion-badge>
          </ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>

    <form  class="search-form" (ngSubmit)="getSearch()" *ngIf="SearchList" [@animate]>
          <ion-item style="padding-left: 10px !important;">
              <ion-icon name="search"></ion-icon>
              <ion-input [(ngModel)]="search.search_string" name="search" placeholder="Поиск..." type="text"></ion-input>
          </ion-item>
          <ion-icon class="close-icon" name="close" (click)="showHideSearchList()"></ion-icon>
    </form>
  </ion-header>

<ion-content class="page-product-detail">
  
  <div class="product_image">
      <img class="image" src="{{product_image}}">

      <!--<div class="labels-block">-->
          <!--<img class="badge-label hit-label" *ngIf="props_list_hit == 'Y'"  src="./assets/labels/badge_hit.png"/>-->
          <!--<img class="badge-label min-label" *ngIf="props_list_min == 'Y'" src="./assets/labels/badge_min.png"/>-->
          <!--<img class="badge-label new-label" *ngIf="props_list_new  == 'Y'" src="./assets/labels/badge_new.png"/>-->
          <!--<span class="discount-label">-->
              <!--<img class="badge-label disc-label" *ngIf="props_list_discount != null" src="./assets/labels/badge_discount.png"/>-->
              <!--<span class="discount_number" *ngIf="props_list_discount != null">Скидка<br>{{props_list_discount}}%</span>-->
          <!--</span>-->
      <!--</div>-->

    <div class="c-good--box" style="z-index: 9; position: absolute; top: 24px;">
      <div class="c-good__label c-good__label--hit" *ngIf="props_list_hit && props_list_hit === 'Y'">Супер ХИТ</div>
      <div class="c-good__label c-good__label--new" *ngIf="props_list_new && props_list_new === 'Y'">NEW</div>
      <div class="c-good__label c-good__label--min-price" *ngIf="props_list_min && props_list_min === 'Y'">MIN ЦЕНА</div>
    </div>
    <div class="c-good__label c-good__label--discount" style="z-index: 9;" *ngIf="props_list_discount">Скидка {{props_list_discount}}%</div>
  </div>


  <p class="addition-info">Внешний вид товара может отличаться от изображённого на фотографии</p>

   <ion-grid class="product-detail-header">
      <h3 class="product_name">{{product_name}}</h3>

      <div class="articul-maker flex-block">
        <p class="articul">Арт.: {{product_articul}}</p>
        <p class="maker">{{product_country}}</p>
      </div>

      <span style="margin-bottom: 14px;">
          <span class="brand"><u (click)="goToPageId('brands', BRAND_ID)">{{product_brand}}</u></span>
          <span [ngClass]="product_brand ? 'gamme' : ''" *ngIf="no_gamme !=true">Гамма: <u style="text-decoration: none;">{{product_gamme}}</u></span>
      </span>
     <span *ngIf="MEZH_NEP_NAZVANIE">
          <span>Действующее вещество: <u (click)="goToPageId('substances', MEZH_NEP_NAZVANIE_ID)">{{MEZH_NEP_NAZVANIE}}</u></span>
      </span>
     <span *ngIf="TORG_NAME_NEW">
          <span>Все формы: <u (click)="goToPageId('medicines', TORG_NAME_NEW_ID)">{{TORG_NAME_NEW}}</u></span>
      </span>
     <span *ngIf="M_PROIZVODITEL">
          <span>Производитель: <u style="text-decoration: none;">{{M_PROIZVODITEL}}</u></span>
      </span>
      
      <span class="price-row">
        <span class="price-text">Цена</span>
        <span class="all-prices">
          <span class="card-price-normal-through discount_price" *ngIf="product_price > product_discount">{{product_price|curency}}</span>
          <span class="card-price-normal price-single" *ngIf="product_price == product_discount no-discount-price">{{product_price|curency}}</span>
          <span style="color: #EF5CEF" class="card-price-normal" *ngIf="product_price != product_discount">{{product_discount|curency}}</span>
        </span>
        <span class="product-outstock">{{product_avail}}</span>
      </span>


      <div class="flex-block rating-like-part">
        <div class="rating-part" >
            <span *ngIf="no_rating !=true" class="rating_number" >{{product_rating}}</span>
            <rating name="rating" readOnly="true" [(ngModel)]="product_rating" ></rating>
            <span *ngIf="no_rating !=true" class="reviews_count"><b> {{reviews_count}} отзыва</b></span>
        </div>

        <div class="etc-buttons">
          <ion-icon name="share" (click)="share()"></ion-icon>
          <span
            [ngClass]="single_product && single_product.IN_WISHLIST === 'Y' ? 'c-good__favorite c-good__favorite--selected' : 'c-good__favorite'"
            (click)="clickWishList()"
            style="margin-left: 21px"
          ></span>
        </div>
      </div>

      <div class="flex-block buy_btns-part">
          <button class="left-button" ion-button block color="secondary"  (click)="addProduct()">КУПИТЬ</button>
          <button class="right-button" ion-button block color="secondary"  (click)="openModal()">Купить в 1 клик</button>
      </div>



      <div class="more-details-block">
          <ion-segment [(ngModel)]="pet">
              <ion-segment-button value="kittens">
                <span class="seg-name">описание</span> 
                <ion-icon name="star"></ion-icon>    
              </ion-segment-button>
              <ion-segment-button value="ducklings">
                <span class="seg-name">доставка</span> 
                <ion-icon name="time"></ion-icon>   
              </ion-segment-button>
              <ion-segment-button value="puppies">
                <span class="seg-name">отзывы</span> 
                <ion-icon name="people"></ion-icon>  
              </ion-segment-button>
            </ion-segment>
            
            <div [ngSwitch]="pet">            
              <ion-list *ngSwitchCase="'kittens'"> 
                  <div class="properties-single" *ngFor="let c of props_all_textlist">
                      <p class="prop-name" [innerHTML]="c.name"></p>
                      <p class="prop-value" *ngIf="c.code !== 'M_RECEPT'" [innerHTML]="c.value"></p>
                      <p class="prop-value" *ngIf="c.code === 'M_RECEPT' && c.value === 0">Отпускается без рецепта</p>
                      <p class="prop-value" *ngIf="c.code === 'M_RECEPT' && c.value === 1">Отпускается по рецепту</p>
                  </div>
              </ion-list>
            
              <ion-list *ngSwitchCase="'ducklings'">
                  <div class="properties-single">
                      <p class="prop-name" >Доставка</p>
                      <p class="prop-value" [innerHTML]="product_delivery"></p>
                  </div>
              </ion-list>

              <ion-list *ngSwitchCase="'puppies'">
                  <div class="reviews_list">
                    <div class="single-review" *ngIf="!reviews_count">
                      <h6 text-center>У этого товара еще нет отзывов</h6>
                    </div>
                    <div class="single-review" *ngFor="let c of product_reviews">
                        <p class="reviews_name">{{c.NAME}} </p>
                        <p class="reviews_data">{{c.DATE}}</p>

                        <rating name="rating" readOnly="true" [(ngModel)]="c.RATING" ></rating>

                        <p class="reviews_text">{{c.COMMENT}}</p>
                    </div>
                  </div>




                <div class="properties-single" *ngIf="can_add == 'Y'">
                    <p class="prop-name" style="margin-bottom: 0;">Оставить отзыв</p>
                    <form action="" [formGroup]="RevData" class="form review_form" (ngSubmit)="newReview()">
                      <ion-list>
                        <ion-item>
                          <ion-label color="secondary" floating>Имя*</ion-label>
                          <ion-input [formControl]="RevData.controls['name']" type="text"></ion-input>
                        </ion-item>

                        <ion-item *ngIf="reviews_info[2].VALUES && reviews_info[2].CODE === 'SKIN'">
                            <ion-label>Тип кожи</ion-label>
                            <ion-select [formControl]="RevData.controls['tipSkin']">
                                <ion-option *ngFor="let c of reviews_info[2].VALUES" value="{{c.name}}">{{c.name}}</ion-option>
                            </ion-select>
                        </ion-item>

                        <ion-item *ngIf="reviews_info[1].VALUES && reviews_info[1].CODE === 'AGE'">
                            <ion-label>Укажите ваш возраст</ion-label>
                            <ion-select [formControl]="RevData.controls['age']">
                              <ion-option *ngFor="let c of reviews_info[1].VALUES" value="{{c.name}}">{{c.name}}</ion-option>
                            </ion-select>
                        </ion-item>

                        <ion-item *ngIf="reviews_info[3].VALUES && reviews_info[3].CODE === 'HAIR'">
                            <ion-label>Укажите тип волос</ion-label>
                            <ion-select [formControl]="RevData.controls['tipVolos']">
                                <ion-option *ngFor="let c of reviews_info[3].VALUES" value="{{c.name}}">{{c.name}}</ion-option>
                            </ion-select>
                        </ion-item>

                        <ion-item>
                          <ion-label color="secondary" floating>Отзыв*</ion-label>
                          <ion-textarea
                            [formControl]="RevData.controls['comment']"
                            rows="1"
                            style=" border: 0;
                                    border-radius: 0;
                                    background: transparent;"
                            #myTextArea
                            id="myTextArea"
                            (keyup)="resize()"
                          ></ion-textarea>
                        </ion-item>
                      </ion-list>

                          <div class="rating-block">
                            <span>Цена/качество:</span>  <rating [formControl]="RevData.controls['rating1']"></rating>
                          </div>

                          <div class="rating-block">
                            <span>Эффективность:</span> <rating [formControl]="RevData.controls['rating2']"></rating>
                          </div>
                          
                          <div class="rating-block">
                            <span>Дизайн упаковки:</span> <rating [formControl]="RevData.controls['rating3']"></rating>
                          </div>

                          <ion-row>
                            <ion-col>
                              <button  ion-button block class="regsubmit" color="secondary" type="submit" [disabled]="RevData.invalid">Оставить отзыв</button>
                            </ion-col>
                          </ion-row>  
                    </form>
                </div>
              </ion-list>
            </div>
      </div>

      <hr>

    <div class="properties-single" *ngIf="alsobuy_length" style="width: calc(100% + 5%);">
      <p class="prop-name">С этим товаром  покупают</p>
      <div class="l-goods l-goods--space" style="display: flex; flex-flow: row; overflow-x: auto;
                                                padding-top: 13px;
                                                margin-top: -13px;
                                                padding-left: 6px;
                                                margin-left: -6px;">
        <app-product-cart *ngFor="let item of products_alsobuy"
                          [type]="'md'"
                          [cart]="item"
        ></app-product-cart>
      </div>
    </div>

    <div class="properties-single" *ngIf="leaders_length" style="width: calc(100% + 5%);">
      <p class="prop-name">Лидеры продаж</p>
      <div class="l-goods l-goods--space" style="display: flex; flex-flow: row; overflow-x: auto;
                                                padding-top: 13px;
                                                margin-top: -13px;
                                                padding-left: 6px;
                                                margin-left: -6px;">
        <app-product-cart *ngFor="let item of products_leaders"
                          [type]="'md'"
                          [cart]="item"
        ></app-product-cart>
      </div>
    </div>

    <div class="properties-single" *ngIf="anlogs_length" style="width: calc(100% + 5%);">
      <p class="prop-name">Аналоги</p>
      <div class="l-goods l-goods--space" style="display: flex; flex-flow: row; overflow-x: auto;
                                                padding-top: 13px;
                                                margin-top: -13px;
                                                padding-left: 6px;
                                                margin-left: -6px;">
        <app-product-cart *ngFor="let item of products_analogs"
                          [type]="'md'"
                          [cart]="item"
        ></app-product-cart>
      </div>
    </div>
    
  </ion-grid>

</ion-content>

<ion-footer>
<footer></footer>
</ion-footer>

<app-modal-one-click-order
  *ngIf="modal"
  [productId]="product_id"
  (close)="openModal()"
></app-modal-one-click-order>
