page-product-detail {
    
    .card-price-normal-through{
        font-size: 18px;
        font-weight: 400;
        color:darken(color($colors, light), 50%);
        text-decoration: line-through;
    }

    .this-toolbar{
        min-height: 0;
    }

    .footer-slider .badge-label{
        width: 35px!important;
    }

    .footer-slider .discount_number{
        right: 3px;
        top: 9px;
        font-size: 12px;
    }

    .footer-slider  .card-price-normal-through{
        font-size: 12px;
    }

    .review_form {
        .col{
            padding: 0;
        }
    }


    .review_form ion-item{
        background: transparent;

        input{
            font-weight: 300;
        }

        .col{
            padding: 0;
        }
    }

    .rating-block{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        span{
            font-size: 16px;
        }


    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #c71b1b;;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: #c71b1b;
      }
      :-ms-input-placeholder { /* IE 10+ */
        color: #c71b1b;
      }
      :-moz-placeholder { /* Firefox 18- */
        color: #c71b1b;
      }


    .regsubmit{
        background-color: #48A7F0;
        height: 35px;
        margin-top: 15px!important;
    }

    .single-review{
        ul {
            padding: 0px;
            margin-bottom: 5px;
            margin-top: 5px;
           
            &.rating li {
              padding: 5px 0 !important;
              background: none;
              color: #EF5CEF;
           
              ion-icon {
                font-size: 16px;
              }
            }
          }
    }

    .rating-like-part{
        rating {
            ion-icon {
              color: #EF5CEF;
          
              &.filled {
                color: #EF5CEF;
              }
            }
          }
    
          ul {
            padding: 0px;
            margin-bottom: 0;
           
            &.rating li {
              padding: 5px 0 !important;
              background: none;
              color: #EF5CEF;
           
              ion-icon {
                font-size: 16px;
              }
            }
          }
    }

    rating {
        ion-icon {
          color: #EF5CEF;
      
          &.filled {
            color: #EF5CEF;
          }
        }
      }

      ul {
        padding: 0px;
       
        &.rating li {
          padding: 5px 0 !important;
          background: none;
          color: #EF5CEF;
       
          ion-icon {
            font-size: 28px;
          }
        }
      }

    ion-navbar ion-icon{
        color: #7e7e7e;
        
    }

    .card .card-content .card-attr .col .card-price-normal{
        left: 5px !important;
        top: 6px!important;
    }


    .card .card-content .card-attr .col .single-price{
        top: 16px !important;
    }
    
    ion-header{
        position: relative!important
    }

    .more-details-block{
        margin-top: 20px;
    }

    .more-details-block .segment-md .segment-button{
        color: black;
    }

    .country_name{
        min-height: 20px;
    }

    .more-details-block .segment-md .segment-button.segment-activated{
        color: #000000;
        border-color: black;
        text-transform: lowercase;
        font-size: 14px;
        font-weight: 600;
    }

    .properties-single{
        .prop-name{
            font-weight: 600;
            margin-top: 20px;
        }
    }

    .single-review ion-icon{
        font-size: 16px!important;
    }

    .more-details-block .segment-button{
        display: flex;
        flex-direction: column;
        height: 70px!important;
        

        .seg-name{
            text-transform: lowercase;
            height: 25px;
            font-size: 12px;
            display: inline-block;
        }
    }





    .price-row{
        .all-prices{
            display: inline-block;
            position: relative;
            margin-top: 20px;
            margin-left: 5px;

            .discount_price{
                font-size: 12px;
            }

            .price-single{
            }
        }

        .price-text{
            font-weight: 500;
        }
    
    }

    .center-align{
        text-align: center;
        font-weight: bold;
    }

    .flex-block{
        display: flex;
        margin-top: 20px;

        .rating-part{
            width: 60%;
            display: flex;
            align-items: center;

            .rating_number{
                margin-right: 10px;                
                font-weight: bold;
                position: relative;
                top: 7px;
            }
        }

        .etc-buttons{
            width: 40%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            ion-icon{
                width: 40px;
                height: 15px;
                text-align: right;
                font-size: 25px;
                display: inline-block;
                color: #7e7e7e;
            }
        }

        button{
            font-size: 14px;
            color: #222;
            background: #E0E0E0;
            font-weight: bold;
            height: 35px!important;
            padding-top: 10px!important;
            padding-bottom: 10px!important;
            box-shadow: 0 2px 2px rgba($color: #000000, $alpha: 0.24);
        }

        .right-button{
            margin-left: 5px!important;
        }

        .left-button{
            margin-right: 5px!important;
        }
    }

    .reviews_list{
        .single-review{
            margin-top: 20px;

            .reviews_data{
                font-size: 12px;
                margin-top: 5px;
            }

            .reviews_name{
                font-size: 12px;
                margin-top: 5px;
            }

            .reviews_text{
                margin-top: 5px;
            }

            p{
                margin: 0;
            }

            .ionic3-star-rating[_ngcontent-c2] .button[_ngcontent-c2] {
                height: 20px;
                font-size: 18px;
                margin-bottom: 10px;
            }
        }
    }

    .ionic3-star-rating[_ngcontent-c2] .button[_ngcontent-c2] ion-icon[_ngcontent-c2]{
        font-size: 16px;
    }

    .reviews_count{
        position: relative;
        top: 6px;
        left: 10px;
    }

    .rating-like-part{
        margin-top: 0;
    }

    .buy_btns-part{
        margin-top: 15px;

        .left-button{
            background: #EF5CEF;
            color: white;
            font-weight: 400;
        }

        .right-button{
            background: #48A7F0;
            color: white;
            font-weight: 400;
        }
    }



    .ionic3-star-rating[_ngcontent-c2] .button[_ngcontent-c2]{
        width: 10px!important;
        height: 10px;
        position: relative;
        top: 5px;
    }

    .ion-ios-star-outline:before{
        font-size: 20px!important;
    }

    .labels-block{
        position: absolute;
        display: flex;

        display: flex;
        align-items: flex-end;
        top: -12px;
    }

    .articul-maker{
        justify-content: space-between;
        color: #707070;
        margin-top: 0;
    }

    .gamme{
        display: inline-block;
        margin-left: 20px;
    }


    .discount_number{
        position: absolute;
        right: 8px;
        top: 12px;
        color: white;
        text-align: center;
        font-size: 11px;
        width: 70%;
        line-height: 16px;

        
    }

    .addition-info{
        color: #707070;
        font-size: 12px;
    }

    .hit-label{
        // position: relative;
        // right: 20px;
    }

    .product_image {
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 22px;
    }
    .product_image .image {
        width: 100%;
        box-shadow: 0 6px 6px rgba($color: #000000, $alpha: 0.16);
        display: block;
        border-radius: 10px;
        max-height: 330px;
        object-fit: contain;
    }

    .addition-info{
        width: 90%;
        margin: 0 auto;
        margin-top: 10px;
    }



    ion-slides{
        padding-top: 30px;
        width: 100%;
        margin: 0 auto;
    }

    .labels-block{
        width: 100%;
    }


    .badge-label{
        width: 55px!important;
    }

    .product_image{
        position: relative;
    }

    .discount-label{
        position: absolute;
        right: 10px;
    }

    .align_spec{
        text-align: center;
    }

    .propertie-row{
        display: flex;
        justify-content: space-between;

        .value-block{
            width: 50%;
        }

        .name_block{
            width: 50%;
        }
    }

    .reviews_name{
        font-weight: bold;
    }

    .reviews_list ion-label{
        overflow: hidden;
        white-space: normal;
    }

    .reviews_data{
        padding-top: 2px;
        padding-bottom: 2px;
        color: rgb(131, 130, 130);
    }

    .card-header{
        padding-left: 20px;
        font-weight: bold;
    }

    .item-block{
        padding-left: 0!important;
    }

    .card-price-normal{
        font-size: 18px;
        color: rgba(0, 0, 0, 0.87);
        font-weight: bold;
        padding-left: 5px;
    }
    
    hr{
        border: 1px solid;
        border-width: 1px;
        width: 100%;
        border-color: #dad4d44d;
        height: auto;
    }

    .properties-single ul{
        padding-left: 20px;
    }

    .product_name{
        font-weight: bold;
        font-size: 20px;
        font-size: 14px;
    }

    ion-grid{
        padding: 0!important;
    }
    
    .card{
        margin-left: 0!important;
        margin-right: 0!important;
        width: 100%;
    }

    .toolbar-title{
        display: flex;
        justify-content: space-between;
        text-overflow: ellipsis;
        display: block;
        width: 80%;
        font-weight: 500;
        position: relative;
        top: 2px;
    }
    
    .ion-md-share{
        padding-right: 5px;
    }

    .search-form{
        ion-icon{
            padding: 15px;
        }
    }

    .search-form{
        display: flex;
        background: white;
        margin: 0!important;
        margin: 5px!important;
        box-shadow: 0 2px 2px grey;
        background-color: white;

        .item-inner{
            border: none!important;
            box-shadow: none!important;
        }

        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24);
        margin: 10px;

        .item-block{
            background-color: transparent;

            .item-inner{
                border-bottom: 0;
            }
        }
    }

    .product-new{
        font-size: 13px;
        color: $white;
        background-color:color($colors, primary);
        padding-left: 5px;
        padding-right: 5px;
        position: absolute;
        top: -10px;
        left: 10px;
        z-index: 9;
        height: 18px;
        line-height: 22px;
    }
    .product-off{
        @extend.product-new;
        background-color:lighten(color($colors, facebook), 20%);
    }
    .page-product-detail{
        background-color: $white;
        .product-detail-title{
            position: relative;
            margin-top: -4px;
            
            h3{
                font-size: 17px;
                margin-top: 10px;

                small{
                    color: darken(color($colors, light), 50%);
                }
            }
            
        }

        .product-detail-header{
            background-color:darken(color($colors, light), 2%);
            position: relative;
            padding-top:15px;
            width: 90%;
            margin: 0 auto;
            background-color: white;

            .product-price-normal{
                font-size: 20px;
                font-weight: 400;
                color: color($colors, primary);
            }
            .product-price-normal-through{
                font-size: 16px;
                font-weight: 400;
                color:darken(color($colors, light), 50%);
                text-decoration: line-through;
                margin-left: 5px;
            }
            .product-instock{
                margin-left: 15px;
                color: color($colors, primary);
            }


            .product-outstock{
                @extend.product-instock;
                margin-left: 5px;
                color:darken(color($colors, light), 50%);
                text-transform: lowercase;
                font-size: 12px;
            }
            [col-4]{
                text-align: right;
                .icon{
                    color:darken(color($colors, light), 50%);
                    font-size: 22px;
                    margin-left: 10px;
                }
            }
        }

        .product-detail-content{
            
            h4{
                margin-top: 0;
                font-size: 17px;
            }
            p{
                margin-bottom: 0;
            }
        }
        .list{
            margin-left: 0;
            margin-right: 0;
        }
    }

  .etc-buttons .c-good__favorite:after {
    top: auto;
    font-size: 26px;
  }

  .product_image {
    .c-good {
      &--box {
        & div:nth-child(1) {
          left: 0 !important;
        }

        & div:nth-child(2) {
          left: 47px !important;
        }

        & div:nth-child(3) {
          left: 94px !important;
        }
      }

      &__label {
        text-align: center;
        position: absolute;
        top: -12px;
        width: 56px;
        height: 56px;
        border: 0.5px solid transparentize($color: $lightBorderColor, $amount: 0.9);
        box-sizing: border-box;
        border-radius: 50%;
        box-shadow: 0 6px 6px 0 transparentize($color: lighten($color: $primaryTextColor, $amount: 24%), $amount: 0.77);
        font-size: 12px;
        color: $buttonTextColor;
        display: flex;
        justify-content: center;
        align-items: center;

        &--hit {
          top: -12px;
          background: $hitLabelBackground;
        }

        &--new {
          top: -12px;
          background: $discountBackground;
        }

        &--min-price {
          top: -12px;
          background: $minLabelBackground;
        }

        &--discount {
          right: 16px;
          top: 12px;
          background: transparentize($discountBackground, 0.1);
        }
      }
    }
  }
}
