<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      Мои бонусы
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only class="cart-button" (click)="openCart()">
        <ion-icon name="cart">
          <ion-badge color="secondary">{{(productsLength$ | async) ? (productsLength$ | async) : 0}}</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<div class="scroll-content">
  <ion-grid class="page-empty" *ngIf="!dataPoints" [@animate]>
    <ion-row align-items-center>
      <ion-col col-12>
        <h4 text-center>Оплатите свой первый заказ для получения бонусных баллов</h4>
      </ion-col>
    </ion-row>
  </ion-grid>

  <main style="margin-top: 56px; padding: 0 0 65px 0;" *ngIf="dataPoints">
    <div class="c-bonus">
      <span class="c-bonus__title">Ваши бонусы</span>
      <span class="c-bonus__quantity">{{dataPoints}}</span>
    </div>
    <div class="l-order l-order--bonus" *ngFor="let item of dataTransacts">
      <div class="c-paragraph">
        <div class="c-paragraph__title" style="opacity: .52;">Номер заказа</div>
        <div class="c-paragraph__value">№{{item.id}}</div>
      </div>
      <div class="c-paragraph">
        <div class="c-paragraph__title" style="opacity: .52;">Дата заказа</div>
        <div class="c-paragraph__value">{{item.date}}</div>
      </div>
      <div class="c-paragraph">
        <div class="c-paragraph__title" style="opacity: .52;">Заказ</div>
        <div class="c-paragraph__value">{{item.order}}</div>
      </div>
      <div class="c-paragraph">
        <div class="c-paragraph__title" style="opacity: .52;">Описание</div>
        <div class="c-paragraph__value">{{item.desc}}</div>
      </div>
      <div class="c-order-bonus">
        <span class="c-order-bonus__title">Изменение бонусного баланса</span>
        <span class="c-order-bonus__quantity">{{item.amount}} бонусов</span>
      </div>
    </div>
  </main>
</div>

<ion-footer>
  <footer></footer>
</ion-footer>
