<header></header>

<ion-content class="page-home" (ionScroll)="onScroll($event)">
  <!-- top banners -->
  <ion-slides class="banners-slider" pager="true"  paginationType="bullets" autoplay="true" loop="false" dir="{{shared.dir}}">
    <ion-slide *ngFor="let b of banners">
      <img src="{{b.IMAGE}}">
    </ion-slide>
  </ion-slides>
  <div class="main-content">
    <p class="slider-header">Хиты продаж</p>
    <div class="l-goods l-goods--space" style="display: flex; flex-flow: row;">
      <app-product-cart *ngFor="let item of hits_products"
                        [type]="'md'"
                        [cart]="item"
      ></app-product-cart>
    </div>

    <p class="slider-header">Последнии статьи</p>
    <div class="l-goods l-goods--space" style="display: flex; flex-flow: row; align-items: baseline;">
        <div *ngFor="let p of last_articles" (click)="goToArticles(p.ID)" style="width: 146.19px; margin-right: 10px;">
            <div class="card-thumb" style="width: 146.19px;">
                <img class="image" src="{{p.IMAGE}}"
                     style="height: 100px;
                      -webkit-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
                      box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);"/>
            </div>
            <ion-card-content style="padding: 0;">
              <ion-card-title>
                  <div class="line-clamp"
                       style="font-size: 12px;
                              text-align: left;
                              font-weight: 600;">{{(p.NAME.length > 55) ? (p.NAME | slice:0:55)+'...' : (p.NAME)}}</div>
              </ion-card-title>
            </ion-card-content>
        </div>
    </div>
  </div>

  <!-- <sliding-tabs></sliding-tabs> -->
  <ion-fab bottom right *ngIf="scrollTopButton">
    <button ion-fab (click)="scrollToTop()">
      <ion-icon name="arrow-round-up"></ion-icon>
    </button>
  </ion-fab>

</ion-content>

<ion-footer>
  <footer></footer>
</ion-footer>
