page-sign-up {
    .hider {
        height: 0;
        overflow: hidden;
    }
    .shower {
        height: auto;
        overflow: hidden;
    }
    .item-md {
        padding-left: 0 !important;
        background-color: transparent;
        margin-bottom: 10px !important;
    }
    .item-header {
        margin-bottom: 0 !important;
    }
    button {
        height: 36px !important;
    }
    .item-header {
        .item-inner {
            border: none !important;
        }
        ion-label {
            margin-bottom: 0 !important;
        }
        ion-icon {
            margin: 0 !important;
        }
    }
    .bar-buttons {
        margin-left: 20px;
        margin-right: 10px;
    } // .toolbar-content-md {
    //     position: relative;
    //     top: 2px;
    // }
    .scroll-content form {
        border-bottom: none !important;
    }
    .subscribe-input {
        ion-label {
            font-size: 12px !important;
        }
        .checkbox {
            border-bottom: none !important;
        }
        .checkbox-md .checkbox-checked {
            background: $blue-color;
            border-color: $blue-color;
        }
        .item-inner {
            border-bottom: none !important;
        }
    }
    .checkbox-md {
        margin: 9px 15px 9px 4px !important;
    }
    .little-text {
        font-size: 12px;
        color: rgba($color: #000000, $alpha: 0.52);
        margin: 0 !important;
    }
    .reg-header {
        text-align: left;
        font-weight: 600;
        font-size: 16px;
        color: black;
        opacity: 0.87;
        margin: 0;
    }
    .scroll-content {
        padding: 17px !important;
    }
    .content-md {
        background: white;
    }
    .list-md .item-input:last-child {
        border-bottom: none !important;
    }
    .delivery_info {
        margin-bottom: 0 !important;
        .label-md {
            margin-bottom: 10px !important;
        }
        .item-inner {
            border-bottom: none !important;
        }
    }
    .item-datetime .label-md {
        font-weight: 400;
        color: #858585;
        padding-left: 0px;
    }
    .page-sign-up {
        p {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}