<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Регистрация</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="page-sign-up" padding>
  <form class="form" (ngSubmit)="signUp()" [formGroup]="registerForm" novalidate>
    <ion-row>
      <ion-col>
        <ion-list>

          <div ion-item class="item-header">
            <p class="reg-header">Персональная информация</p>
          </div>

          <ion-item>
            <ion-label color="secondary" floating>Фамилия*</ion-label>
            <ion-input formControlName="lastName"></ion-input>
            <p class="input-error-hint" *ngIf="emailControl.errors && emailControl.touched" class="danger" padding>Email is not valid.</p>
          </ion-item>

          <ion-item>
            <ion-label color="secondary" floating>Имя*</ion-label>
            <ion-input formControlName="name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="secondary" floating>Отчество</ion-label>
            <ion-input formControlName="secondName"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="secondary" floating>Дата рождения</ion-label>
            <ion-datetime display-format="MM/DD/YYYY" 
              formControlName="birthday" 
              max="2019-01-01" 
              [monthNames]="monthNames"
              [monthShortNames]="monthNames"></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label color="secondary" floating>E-mail*</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
            <p class="input-error-hint" *ngIf="emailControl.errors && emailControl.touched" class="danger" padding>Email is not valid.</p>
          </ion-item>

          <ion-item>
            <ion-label color="secondary" floating>Пароль*</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="secondary" floating>Подтверждение пароля*</ion-label>
            <ion-input formControlName="passwordConfirmed" type="password"></ion-input>
          </ion-item>
          <p class="input-error-hint danger" *ngIf="passwordConfirmedControl.errors && passwordConfirmedControl.touched" padding>Пароли не совпадают</p>

          <div ion-item class="item-header">
            <p class="little-text">* поля обязательные для заполнения</p>
          </div>

          <div ion-item class="item-header">
            <ion-segment-button class="reg-header">
              Информация для доставки
            </ion-segment-button>
            <ion-icon item-right [name]="categoriesLoginIcon" (click)="showHideLoginList()"></ion-icon>
          </div>

          <div [ngClass]="{'shower':ProfileList==true,'hider':ProfileList==false}" [@animate]>

            <ion-item>
              <ion-label color="secondary" floating>Мобильный телефон</ion-label>
              <ion-input formControlName="phone" type="text" [brmasker]="{mask:'(999) 999 99 99', len:15}"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label color="secondary" floating>Индекс</ion-label>
              <ion-input formControlName="addressZip" type="text"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label color="secondary" floating>Город или населенный пункт</ion-label>
              <ion-input formControlName="addressCity" type="text"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label color="secondary" floating>Адрес</ion-label>
              <ion-input formControlName="addressStreet" type="text"></ion-input>
            </ion-item>
          </div>

          <div ion-item class="subscribe-input">
            <ion-label color="secondary">Получать эксклюзивные специальные предложения, информацию о скидках и новости</ion-label>
            <ion-checkbox formControlName="subscribe"></ion-checkbox>
          </div>


          <ion-row>
            <ion-col>
              <button 
                ion-button block 
                class="regsubmit" 
                color="secondary" 
                type="submit" 
                [disabled]="registerForm.invalid">Зарегистрироваться</button>
            </ion-col>
          </ion-row>
        </ion-list>
      </ion-col>
    </ion-row>

  </form>
</ion-content>
