
<ion-segment color="primary" [(ngModel)]="segments">
    <ion-segment-button value="HomePage" (click)="openPage('HomePage')"><ion-icon name="home"></ion-icon></ion-segment-button>
    <ion-segment-button value="BeautyCatalogPage" (click)="openBeautyCatalog('BeautyCatalogPage')"><ion-icon name="bowtie"></ion-icon> </ion-segment-button><!-- {{ 'Categories'  }} -->
    <ion-segment-button value="HealthCatalogPage" (click)="openHealthCatalog('HealthCatalogPage')"><ion-icon name="medkit"></ion-icon> </ion-segment-button><!-- {{ 'Shop'  }} -->
    <ion-segment-button value="NewsPage" (click)="openPage('NewsPage')"><ion-icon name="paper"></ion-icon> </ion-segment-button><!-- {{ 'News'  }} -->
    <ion-segment-button value="SettingsPage" (click)="openPage('SettingsPage')"><ion-icon name="settings"></ion-icon> </ion-segment-button><!-- {{ 'Menu'  }} -->
</ion-segment>

