footer {
    .segment-md-primary .segment-button{
        background: white;
        opacity: 1;
        padding-bottom: 10px;
        height: 56px;
    }

    .segment-md .segment-button ion-icon {
        font-size: 22px;
        position: relative;
        top: 10px;
    }    
}
