<ion-header>

    <ion-navbar [style.boxShadow]="SearchList ? 'none' : ''">
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
  
      <ion-title>
          Товары для красоты
        </ion-title>
  
      <ion-buttons end>
          <button ion-button icon-only (click)="showHideSearchList()">
              <ion-icon name="search"></ion-icon>
          </button>
        <button ion-button icon-only class="cart-button" (click)="openCart()">
          <ion-icon name="cart">
            <ion-badge color="secondary">{{(productsLength$ | async) ? (productsLength$ | async) : 0}}</ion-badge>
          </ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>

    <form  class="search-form" (ngSubmit)="getSearch()" *ngIf="SearchList" [@animate]>
        <ion-item>
            <ion-icon name="search"></ion-icon>
            <ion-input [(ngModel)]="search.search_string" name="search" placeholder="Поиск..." type="text"></ion-input>
        </ion-item>
        <ion-icon class="close-icon" name="close" (click)="showHideSearchList()"></ion-icon>
    </form>

    <p class="filter category" (click)="openCategoryBy()">
        <span class="filter">Выбрать категорию:</span> <ion-icon class="arrow" name="ios-arrow-down"></ion-icon>
    </p>
  </ion-header>


  <ion-content class="page-home">
      <!-- top banners -->
      <ion-slides style="height: auto;"  pager="true"  paginationType="bullets" autoplay="true" loop="false">
        <ion-slide *ngFor="let b of banners">
          <img src="{{b.IMAGE}}">
        </ion-slide>
      </ion-slides>
      
      <div class="main-content" style="padding-left: 16px; padding-right: 16px;">
        <p class="slider-header">Лидеры продаж</p>
        <div class="l-goods l-goods--space" style="display: flex; flex-flow: row; overflow-x: auto;
                                                padding-top: 13px;
                                                margin-top: -13px;
                                                padding-left: 6px;
                                                margin-left: -6px;
                                                width: calc(100% + 16px)">
          <app-product-cart *ngFor="let item of hits_products"
                            [type]="'md'"
                            [cart]="item"
          ></app-product-cart>
        </div>

        <p class="slider-header">Новинки</p>
        <div class="l-goods l-goods--space" style="display: flex; flex-flow: row; overflow-x: auto;
                                                padding-top: 13px;
                                                margin-top: -13px;
                                                padding-left: 6px;
                                                margin-left: -6px;
                                                width: calc(100% + 16px)">
          <app-product-cart *ngFor="let item of new_products"
                            [type]="'md'"
                            [cart]="item"
          ></app-product-cart>
        </div>
    
        <p class="slider-header">Последнии статьи</p>
        <div class="l-goods l-goods--space" style="display: flex; flex-flow: row; align-items: baseline; overflow-x: auto; width: calc(100% + 16px); padding-left: 6px; margin-left: -6px;">
          <div *ngFor="let p of last_articles" (click)="goToArticles(p.ID)" style="width: 146.19px; margin-right: 10px;">
            <div class="card-thumb" style="width: 146.19px;">
              <img class="image" src="{{p.IMAGE}}"
                   style="height: 100px;
                      -webkit-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
                      box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);"/>
            </div>
            <ion-card-content style="padding: 0;">
              <ion-card-title>
                <div class="line-clamp"
                     style="font-size: 12px;
                              text-align: left;
                              font-weight: 600;">{{(p.NAME.length > 55) ? (p.NAME | slice:0:55)+'...' : (p.NAME)}}</div>
              </ion-card-title>
            </ion-card-content>
          </div>
        </div>
      </div>
  </ion-content>

  <ion-footer>
    <footer></footer>
  </ion-footer>
