@import "partials";
@import "1111/body";
@import "info-accordion";
@import 'good-card--products-pages';

.c-section {
  margin: 0 0 16px;

  &--no-space {
    overflow-x: hidden;
    margin-right: -16px;
  }

  &__title {
    font-size: 14px;
    font-weight: 500;
    color: $primaryTextColor;
    padding: 0;
    margin: 5px 0 12px;
  }
}
