brands-component {
  .c-slider {
    position: relative;
    min-height: 250px;

    &__item {
      display: none;
      width: 100%;
      min-height: 250px;

      &--current {
        display: block;
      }
    }

    &__point {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      box-sizing: border-box;
      background: $pointBackground;
      border: 1px solid lighten($color: $defaultBackgroundColor, $amount: 83%);
      box-shadow: 0 1px 2px 0 lighten($color: $primaryTextColor, $amount: 76%);

      &--current {
        transform: scale(2);
        margin: 0 5px;
      }
    }
  }

  .l-slider__points {
    position: absolute;
    bottom: 20px;
    left: 38%;
    width: 88px;
    display: flex;
    justify-content: space-around;
  }
}
