// ==text-colors

$primaryTextColor: $black;
$secondaryTextColor: $grey;
$quantityColor: $dimGray;
$buttonTextColor: $white;
$highlightColor: $purpur;
$highlightHeadersColor: $lightblue;

// ==borders-colors

$inputBorderColor: $grey;
$focusedInputBorderColor: $purpur;
$cursorColor: $purpur;
$lightBorderColor: $whiteSmoke;

$errorColor: $bittersweet;
$radiobuttonColor: $red;

// ==background colors

$pointBackground: $lightGray;

$hitLabelBackground: $blue;
$minLabelBackground: $green;

$lightBackgroundColor: $white;
$activeFilterBackground: $whiteSmoke;

$defaultBackgroundColor: $lightblue;
$activeDefaultBackgroundColor: $darkBlue;

$primaryBackgroundColor: $purpur;
$activePrimaryBackgroundColor: $darkPupur;

$discountBackground: $percianRed;
