//body {
//  -webkit-font-smoothing: antialiased;
//  font-family: 'Roboto', sans-serif;
//  caret-color: $cursorColor;
//  color: lighten($color: $primaryTextColor, $amount: 48%);
//  max-width: 360px;
//  margin: 0 auto;
//
//  main {
//    width: 100%;
//    padding: 0 0 65px;
//    box-sizing: border-box;
//  }
//}

.l-order {
  padding: 22px 16px;
  font-size: 12px;
  border-top: 1px solid lighten($color: $primaryTextColor, $amount: 88%);

  &--bonus {
    padding: 16px;
    border-bottom: 1px solid lighten($color: $primaryTextColor, $amount: 88%);
  }
}

.c-paragraph {
  display: flex;
  width: 100%;

  margin-bottom: 8px;
  font-weight: 500;

  &__title {
    min-width: 90px;
    margin-right: 16px;
    white-space: nowrap;
  }

  &__value {
    color: $primaryTextColor;
    width: 70%;
  }
}

.c-order-list {
  margin-top: 19px;
  margin-bottom: 7px;

  &--big-margin {
    margin-top: 20px;
  }

  &__title {
    margin: 0;
    font-size: 12px;
    color: $primaryTextColor;
    font-weight: 500;
  }
}

.c-order-item {
  margin-top: 8px;
  &__title {
    text-decoration: underline;
  }
}
