// ==Search Input

.l-search-input {
    margin-top: 20px;
    
}

.c-search-input {
    position: relative;
    max-width: 344px;

    &__field {
        width: 344px;
        height: 48px;
        padding: 14px 14px 15px 16px; 
        box-sizing: border-box;
        outline: none;
        border: 1px solid $lightBackgroundColor;
        background: $lightBackgroundColor; 
        box-shadow: 0 1px 2px 0 lighten($color: $primaryTextColor, $amount: 76%),
                    0 0 2px 0 lighten($color: $primaryTextColor, $amount: 88%);
        font-size: 16px;
        color: $secondaryTextColor;
    }
    
    &__icon {
        position: absolute;
        right: 16px;
        top: 12px;
        line-height: 0;

        &:before {
            content: "\e5cd";
			@include material-icons;
        }
    }
}