@import "partials";
@import "disclaimer";
@import "total-sum";
@import "modal";
@import "good-card--favourite";

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
  caret-color: $cursorColor;
  color: lighten($color: $primaryTextColor, $amount: 48%);
  max-width: 360px;
  margin: 0 auto;

  .l-container {
    position: relative;
  }

  main {
    width: 100%;
    padding: 22px 16px 65px;
    box-sizing: border-box;
    margin-bottom: 150px;
  }
}
